* {
margin: 0; padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {
    background-color: #444;
}

.container {
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*===========
Navbar
=============
*/

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}

.nav-link, .icon {
    color: #e2e2e2;
    transition: 0.5s ease-in-out;
}

.nav-link:hover, .icon:hover {
    color: #ff6a95;
}

.navbar-logo, .navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 10.5rem;
    font-weight: 600;
    opacity: 0.7;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.icon-logo {
    color: #e2e2e2;
    font-size: 2rem;
}

.navbar-links {
    width: 12rem;
}

/*===========
Footer
=============
*/

.footer-container {
    width: 35%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.footer-container p{
    color: #e2e2e2;
    font-size: 0.8rem;
    white-space:nowrap;
}

/*===========
main
=============
*/
main {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/*===========
About, NotFound
=============
*/
.home, .about, .notFound {
    color: #e2e2e2;
    padding-top: 2rem;
    text-align: center;
}

.home p, .about p, .notFound p{
    padding-top: 0.5rem;
    font-size: 1rem;
}

.title {
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

.notFound .link {
    color: #e2e2e2;
    display: block;
    margin: 1.2rem auto 0;
    width: 10rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: #8A2BE2;
    border: 0.05rem solid  #e2e2e2;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.icon-home {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 0.2rem;
}

.notFound .link:hover {
    background-color: #ff6a95;
}

/*===========
UserResults
=============
*/

.users-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    padding: 2rem 0;
    margin: 0 auto;
    justify-items: center;
}

.spinner {
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.spinner img {
width: 100%;
height: 100%;
object-fit: cover;
}

@media only screen and (max-width: 900px) {
    .users-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media only screen and (max-width: 700px) {
    .users-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media only screen and (max-width: 550px) {
    .users-container {
        grid-template-columns: repeat(1, 1fr); 
    }
    .navbar-links {
        width: 30%;
    }
}

/*===========
UserItem
=============
*/
.card {
width: 12rem;
height: 10rem;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 2px 5px #666;
border-radius: 0.3rem;
background: #777;
padding: 0.5rem;
cursor: pointer;
transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.avatar, .username{
    flex: 1;
}

.avatar {
    margin-right: 0.5rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1rem solid #e2e2e2;
}

.link-user {
   color: #e2e2e2;
   display: inline-block;
   padding-top: 1rem;
   font-size: 0.8rem; 
   opacity: 0.7;
   letter-spacing: 0.05rem;
   transition: 0.3s ease-in-out;
}

.link-user:hover {
    color: #ff6a95;
}

/*===========
UserSearch
=============
*/
.user-search-container {
    max-width: 60rem;
    min-height: 100vh;
    position: relative;
}

.user-search {
    max-width: 30rem;
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 3rem;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    flex: 1;
    padding: 0.7rem;
    border: 0.1rem solid #e2e2e2;
    outline: none;
    border-radius: 0.3rem;
}

input:focus {
    outline: 0.2rem solid #8A2BE2;
}

.btn {
    color: #e2e2e2;
    display: block;
    width: 5rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: #8A2BE2;
    border: 0.05rem solid  #e2e2e2;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:active {
transform: scale(1.1);
}

.btn:hover {
    background-color: #333;
}

.btn-search {
    display: inline-block;
    margin-left: .3rem;
}

.btn-clear {
    display: block;
    margin: 3rem auto 0;
}







