* {
margin: 0; padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {
    background-color: #444;
}

.container {
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*===========
Navbar
=============
*/

.navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}

.nav-link, .icon {
    color: #e2e2e2;
    transition: 0.5s ease-in-out;
}

.nav-link:hover, .icon-logo:hover {
    color: #ff6a95;
}

.nav-link {
    font-size: 1.3rem;
}

.link {
    font-size: 1.1rem;
}

.navbar-logo, .navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 12rem;
    font-weight: 600;
    opacity: 0.7;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.icon-logo {
    color: #e2e2e2;
    font-size: 2rem;
}

.navbar-links {
    width: 11rem;
}

/*===========
Footer
=============
*/

.footer-container {
    width: 36%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.footer-container p{
    color: #e2e2e2;
    font-size: 0.9rem;
    white-space:nowrap;
}

/*===========
main
=============
*/
main {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}

/*===========
About, NotFound
=============
*/
.home, .about, .notFound {
    color: #e2e2e2;
    padding-top: 2rem;
    text-align: center;
}

.about {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.home p, .about p, .notFound p{
    padding-top: 0.7rem;
    font-size: 1rem;
    text-align: center;
}

.about a {
    color: #e2e2e2;
    transition: 0.3s ease;
    display: block;
    font-weight: 600;
}

.about a:hover {
    color: #ff6a95;
}

.about p, .about a {
    margin-bottom: 1rem;
}

.title {
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}

h1.title-home {
    font-size: 2.2rem;
}

.notFound .link {
    color: #e2e2e2;
    display: block;
    margin: 1.2rem auto 0;
    width: 10rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: #8A2BE2;
    border: 0.05rem solid  #e2e2e2;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.icon-home {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 0.2rem;
}

.notFound .link:hover {
    background-color: #ff6a95;
}

/*===========
UserResults
=============
*/

.users-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    padding: 2rem 0;
    margin: 0 auto;
    justify-items: center;
}

.spinner {
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.spinner img {
width: 100%;
height: 100%;
object-fit: cover;
}

/*===========
UserItem
=============
*/
.card {
width: 12rem;
height: 10rem;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 2px 5px #666;
border-radius: 0.3rem;
background: #777;
padding: 0.5rem;
cursor: pointer;
transition: 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.avatar, .username{
    flex: 1;
}

.avatar {
    margin-right: 0.5rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1rem solid #e2e2e2;
}

.link-user {
   color: #e2e2e2;
   display: inline-block;
   padding-top: 1rem;
   font-size: 0.8rem; 
   opacity: 0.7;
   letter-spacing: 0.05rem;
   transition: 0.3s ease-in-out;
}

.link-user:hover {
    color: #ff6a95;
}

/*===========
UserSearch
=============
*/
.user-search-container {
    max-width: 60rem;
    min-height: 50vh;
    position: relative;
    margin: 0 auto;
}

.user-search {
    width: 20rem;
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 3rem;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    flex: 1;
    padding: 0.7rem;
    border: 0.1rem solid #e2e2e2;
    outline: none;
    border-radius: 0.3rem;
}

input:focus {
    outline: 0.2rem solid #8A2BE2;
}

.btn {
    color: #e2e2e2;
    display: block;
    width: 5rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: #8A2BE2;
    border: 0.05rem solid  #e2e2e2;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:active {
transform: scale(1.1);
}

.btn:hover {
    background-color: #333;
}

.btn-search {
    display: inline-block;
    margin-left: .3rem;
}

.btn-clear {
    display: block;
    margin: 3rem auto 0;
}

/*===========
Alert
=============
*/
p.alert {
    color: #e2e2e2;
    width: 90%;
    height: 3rem;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.alert-icon {
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 0.3rem;
    color: #ff6a95;
}

/*============
User
=============*/
.user-section {
    max-width: 40rem;
    min-height: 30rem;
    margin: 6rem auto 4rem;
}

.back {
    width:8rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.user-container {
    width: 100%;
    height: 100%;
    box-shadow: rgba(240, 240, 247, 0.2) 0px 7px 29px 0px;
}

.user-main {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.image {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.photo {
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img {
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
}

.title-container {
    text-align: center;
    color: #e2e2e2;
}

.title {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    padding-top: 1rem;
    white-space:nowrap;
}

.title-name {
    font-size: 1.5rem;
    color: #e2e2e2;
    margin: 1rem 0;
}

.title-login {
    padding-top: 1rem;
    color: #e2e2e2;
    opacity: 0.7;
}

.card-body {
    flex: 1;
    height: 100%;
    margin-left: 2rem;
    position: relative;
}

.hire  {
color: #65FF00;
position: absolute;
left: 30%;
top: 4.3rem;
}

.hire span {
    display: inline-block;
    border: 0.05rem solid #65FF00;
    padding: 0.3rem 0.5rem;
    border-radius: 45%;
}

.hire span.type {
    margin-right: 0.2rem;
    border: none;
}

p.bio {
    color: #e2e2e2;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    opacity: 0.7;
    text-align: justify;
    padding-top: 2rem;
}

.profile {
    margin-left: -1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-outline {
    background: transparent;
    width: 10rem;
    margin: 1rem;
}

.location-company-twitter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #e2e2e2;
    font-size: 0.8rem;
}

.location, .company, .twitter {
    flex: 1;
}

.location-company-twitter span{
    display: block;
    
}

span.top {
    margin: 0.3rem;
}

span.bottom {
    opacity: 0.7;
}

.card-bottom {
width: 100%;
height: 100%;
margin: 0 auto;
padding: 1rem;
color: #e2e2e2;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
justify-items: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info span {
    display: block;
    text-align: center;
}

.info-user {
    font-size: 0.8rem;
}

.icon-bottom {
    color: #ff6a95;
    font-size: 1.5rem;
}

span.num {
    margin-top: 1rem;
    font-size: 1.5rem;
}

/*===========
Repos
============*/

.repos-container, .repos {
    width: 100%;
    height: 100%;
}

.repos-container h2 {
    padding: 0 0 1rem 1rem;
    color: #e2e2e2;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.repo-item {
    width: 100%;
    height: 100%;
    min-height: 6rem;
    /*box-shadow: 0px -1px 0px 0px #000000, 0px 1px 0px 0px #000000;*/
    padding: 1rem;
}

.repo-item h3 {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.repo-item h3 a{
    color: #e2e2e2;
    font-size: 0.9rem;
    letter-spacing: 0.08rem;
}

.icon-title {
    display: inline-block; 
    font-size: 0.7rem;
    margin-right: 0.3rem;
}

.repo-item p {
    color: #e2e2e2;
    opacity: 0.7;
    font-size: 0.85rem;
    text-align: justify;
    margin-bottom: 0.5rem;
    line-height: 1rem;
}

.info-items {
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.info-item div {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-center;
    font-size: 0.8rem;
}

.icon-score {
    display: inline-block;
    margin-right: 0.25rem;
}

.repo-item:nth-child(odd) {
    background: #445;
}

/*======
responsive
========*/
@media only screen and (max-width: 900px) {
    .users-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media only screen and (max-width: 700px) {
    .users-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media only screen and (max-width: 550px) {
    .users-container {
        grid-template-columns: repeat(1, 1fr); 
    }
    .navbar-links {
        width: 30%;
    }
}

@media only screen and (max-width: 620px) {
    .user-main {
        flex-direction: column;
        height: 100%;
    }

    .back {
        margin-bottom: 3rem;
    }

    .title-container {
        display: none;
    }

    .card-body {
        width: 18rem;
        height: 15rem;
        margin: 1rem auto;
        padding-left: 1rem;
    }
    .card-bottom {
        width: 18rem;
        height: 100%;
        margin: 0 auto;
        grid-template-columns: 9rem 9rem;
        grid-template-rows: auto;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2rem;
        padding: 0 4rem 1rem;
        margin-top: -1rem;
        justify-content: center; 
    }
}

@media only screen and (max-width: 420px) {
    .navbar-container {
        flex-direction: column;
    }
    .navbar-links {
        width: 70%;
        margin: 1.5rem auto 0;
    }
} 

@media only screen and (max-width: 350px) {
    .user-search {
        width: 17rem;
    }
}




